html,body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}


dl.info {
    padding: 0px;
    padding-top: 20px;
}

dt.info {
    padding: 0px;
    padding-right: 12px;
    margin: 0px;
    text-align: justify;
}

dd.info {
    clear: both;
    float: left;
    margin: 0px;
    font-weight: bold;
}

.strong {
    font-weight:bold;
}

body{
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size:11px;
    margin:0px;
    color:#444444;
}

#dummy{
    z-index: 99;
    background: none;
    position: absolute;
}

a, a:link, a:visited {
    color: #444444;
    text-decoration: none;
}

a:hover {
    color: #444444;
    text-decoration: underline;
}



#container {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 1026px;
}

#topnavi li {
    margin: 0px;
    list-style:none;
}

.fullDiv{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height:100%;
}

.spacer {   
    height: 100%;
    float:left;
    width:1px;
    border-right: 1px solid #444444;
}

#topnavi a, #topnavi a:hover, #topnavi a:link, #topnavi a:visited {
    color:#FFFFFF;
}

#topnavi{
    background-color:#E31D10;
    color:#FFFFFF;
    background-repeat:no-repeat;
    background-image:url("/fluxcms/themes/3-cols/images/logo.jpg");
   /* padding-top: 240px;*/
}

#topnavi {
    margin: 0px;
    height: 100%;
    width: 164px;
    float: left;
    border-left: 7px solid white;
    border-right: 6px solid white;  
}

.envelop{
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    overflow: hidden;
}

.envelop1{
    margin: 0px;
	margin-left:60px;
    padding: 0px;
    padding-top: 55px;
    overflow: hidden;
}

.post_links{
	margin:0px;
	margin-top:12px;
	padding:0px;
	padding-top:10px;
	border-style:solid;
	border-width:1px 0px 0px 0px;
	border-color:#909090;
	width:90%;
}

.post_content{
	line-height:20px;
}

.post_meta_data{
	margin:0px;
	margin-bottom:10px;
	margin-top:7px;
	padding:0px;
	padding-bottom:10px;
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#909090;
	width:90%;
}


.entry[name="color1"]{
	border-style:solid;
	border-width:5px 1px 1px 1px;
	border-color:#909090;
	border-top-color:#96B802;
	margin:0px;
	margin-bottom:30px;
	padding:20px 30px 20px 30px;
	width:75%;
}

.entry[name="color2"]{
	border-style:solid;
	border-width:5px 1px 1px 1px;
	border-color:#909090;
	border-top-color:#404040;
	margin:0px;
	margin-bottom:30px;
	padding:20px 30px 20px 30px;
	width:75%;
}

.entry[name="color3"]{
	border-style:solid;
	border-width:5px 1px 1px 1px;
	border-color:#909090;
	border-top-color:#909090;
	margin:0px;
	margin-bottom:30px;
	padding:20px 30px 20px 30px;
	width:75%;
}


#mainnavi {
    margin-top: 240px;
}

#mainnavi li{
    margin-left: -40px;
}

#content h1{
    margin-top: 0px;
}

h1 {
    margin-top:0px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight:bold;
}
h2, h3, h4, h5{
    font-size: 11px;
    font-weight:bold;
    margin:0px;
    margin-bottom: 3px;
}

p {
    font-size: 11px;
    margin-bottom:10px;
    padding-bottom:10px;
/*    border-bottom: 1px dotted #444444;*/
}
